<div class="col-sm-3 quote" style="display: none;">
	<div class="module">
		<div class="quoteBox">
			{{#if date}}
				<span class="date">{{date}}</span>
			{{/if}}
			<p>"{{comment}}"</p>
			<span class="quoteSayer"> 
				{{#if link}}
					-<a href="{{link}}" target="_blank">{{name}}</a>
				{{else}}
					-{{name}}
				{{/if}}
			</span>
		</div>
	</div>
</div>
