<div class="col1-4">
	<div class="module">
		<div class="quote">
			<span class="date">{{date}}</span>
			<p>"{{comment}}"</p>
			<span class="quoteSayer"> 
				{{#if link}}
				-<a href="{{link}}">{{name}}</a>
				{{else}}
				-{{name}}
				{{/if}}
			</span>
		</div>
	</div>
</div>
