<div class="mediaCoverage row">
	<div class="media col 1-6">
		<img src="{{image}}" alt="{{title}}">
		<h3>{{title}}</h3>
		<p>{{description}}</p>
		<a href="{{link}}">{{linkText}}</a>
	</div>
</div><!-- mediaCoverage row -->
