<div class="col1-3">
	<div class="media">
		{{#if image}}
			<img src="{{image}}" alt="{{title}}">
		{{/if}}
		<h3>{{title}}</h3>
		<p>{{description}}</p>
		<a href="{{link}}" target="_blank">{{linkText}}</a>
	</div>
</div>
