{{#if web}}
	<a class="storeBtn playNow" href="{{web}}" target="_blank">
		<img src="http://twoscoopgames.com/img/play.png"/>
		<div class="bar alwaysOut">
			<span class="big">Play Now</span>
			<span>in your browser</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if ios}}
	<a class="storeBtn ios" href="{{ios}}" target="_blank">
		<img src="http://twoscoopgames.com/img/apple.png"/>
		<div class="bar alwaysOut">
			<span class="big">Download</span>
			<span>Free on iOS App Store</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if android}}
	<a class="storeBtn android" href="{{android}}" target="_blank">
		<img src="http://twoscoopgames.com/img/android.png"/>
		<div class="bar alwaysOut">
			<span class="big">Download</span>
			<span>Free on Google Play Store</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if chrome}}
	<a class="storeBtn chrome" href="{{chrome}}" target="_blank">
		<img src="http://twoscoopgames.com/img/chrome.png"/>
		<div class="bar alwaysOut">
			<span class="big">Download</span>
			<span>Free on Chrome Web Store</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if firefox}}
	<a class="storeBtn firefox" href="{{firefox}}" target="_blank">
		<img src="http://twoscoopgames.com/img/firefox.png"/>
		<div class="bar alwaysOut">
			<span class="big">Download</span>
			<span>Free on Firefox Web Store</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if windows8}}
	<a class="storeBtn windows8" href="{{windows8}}" target="_blank">
		<img src="http://twoscoopgames.com/img/windows8.png" />
		<div class="bar alwaysOut">
			<span class="big">Download</span>
			<span>Free on Windows 8 Store</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
{{#if github}}
	<a class="storeBtn gitHub" href="{{github}}" target="_blank">
		<img src="http://twoscoopgames.com/img/github.png"/>
		<div class="bar alwaysOut">
			<span class="big">Open Source</span>
			<span>Made with Splat Engine</span>
		</div>
	</a><!-- .storeBtn -->
{{/if}}
