{{#if betasignup}}
<a class="btn btnPrimary betasignup" href="{{betasignup}}" target="_blank">
  <img src="/img/web.png"/>
  <p>Become Beta Tester!</p>
</a>
{{/if}}

{{#if printandplay}}
<a class="btn btnPrimary printandplay" href="{{printandplay}}" target="_blank">
  <i class="fa fa-print"></i>
  <p>Free print and play edition!</p>
</a>
{{/if}}

{{#if mailinglist}}
<a class="btn btnPrimary mailinglist" href="{{mailinglist}}" target="_blank">
  <i class="fa fa-envelope"></i>
  <p>Get email updates!</p>
</a>
{{/if}}

{{#if ios}}
<a class="btn btnPrimary ios " href="{{ios}}" target="_blank">
  <img src="/img/apple.png"/>
  <p>App Store</p>
</a>
{{/if}}

{{#if android}}
<a class="btn btnPrimary android " href="{{android}}" target="_blank">
  <img src="/img/android.png"/>
  <p>Google Play Store</p>
</a>
{{/if}}



{{#if linux}}
<a class="btn btnPrimary linux " href="{{linux}}" target="_blank">
  <img src="/img/linux.png" />
  <p>Linux</p>
</a>
{{/if}}

{{#if mac}}
<a class="btn btnPrimary mac " href="{{mac}}" target="_blank">
  <img src="/img/apple.png" />
  <p>Mac OS</p>
</a>
{{/if}}

{{#if windows}}
<a class="btn btnPrimary windows " href="{{windows}}"target="_blank">
  <img src="/img/windows.png" />
  <p>Windows</p>
</a>
{{/if}}

{{#if chrome}}
<a class="btn btnPrimary chrome " href="{{chrome}}"target="_blank">
  <img src="/img/chrome.png"/>
  <p>Chrome Web Store</p>
</a>
{{/if}}


{{#if itch}}
<a class="btn btnPrimary itch " href="{{itch}}" target="_blank">
  <img src="/img/itch.png"/>
  <p>itch.io</p>
</a>
{{/if}}


{{#if web}}
<a class="btn btnPrimary web " href="{{web}}" target="_blank">
  <img src="/img/web.png"/>
  <p>Play on Web</p>
</a>
{{/if}}

{{#if webtouch}}
<a class="btn btnPrimary webtouch " href="{{webtouch}}"target="_blank">
  <img src="/img/touch.png"/>
  <p>Play on Web (touch)</p>
</a>
{{/if}}



{{#if firefox}}
<a class="btn btnPrimary firefox " href="{{firefox}}" target="_blank">
  <img src="/img/firefox.png"/>
  <p>Firefox Web Store</p>
</a>
{{/if}}



{{#if splat}}
<a class="btn btnPrimary splat " href="{{splat}}" target="_blank">
  <img src="/img/splat.png"/>
  <p>SplatJS</p>
</a>
{{/if}}
