{{#with games.kickbot}}
<div class="top row">
	<div class="col1-2">
		<div class="description row">
			<div class="col1-3">
				{{#if logo}}
					<img class="gameLogo" src="{{logo}}" alt="{{logo-alt}}"/>
				{{/if}}
			</div>
			<div class="col2-3">
				{{#if title}}
					<h1>{{title}}</h1>
				{{/if}}
				{{#if tagline}}
					<h2>{{tagline}}</h2>
				{{/if}}
				<p>{{description}}</p>
				<div class="gameSocial row">
					<span class="col1-2">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="TwoScoopGames" data-size="large" data-hashtags="kickbotgame">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</span>
					<span class="col1-2">
						<div class="fb-like" data-href="http://kickbotgame.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-2">
		<div id="slider" class="flexslider">
			<ul class="slides">
				{{#if video}}
					<li class="fitvids">
						<iframe width="640" height="360" src="//www.youtube.com/embed/{{video}}?rel=0" frameborder="0" allowfullscreen></iframe>
					</li>
				{{/if}}
				{{#each screenshots}}
					<li>
						<img src="{{this}}" />
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div><!-- top row -->

<div class="buttons row">
	{{> storeButtons storeButtons}}
</div>

<div class="screenshotArea row">
	<div id="carousel" class="flexslider">
		<ul class="slides">
			<li>
				<img src="http://i1.ytimg.com/vi/{{video}}/0.jpg" alt="screenshot alt text">
			</li>

			{{#each screenshots}}
				<li>
					<img src="{{this}}" />
				</li>
			{{/each}}

			<!-- items mirrored twice, total of 12 -->
		</ul>
	</div><!-- carousel  -->
</div><!-- screenshot row -->

<h3>Media Coverage</h3>
<div class="mediaCoverage row">
	{{#each mediaCoverage}}
		{{> mediaCoverage}}
	{{/each}}
</div>

{{/with}}

<h3>What people are saying about Kick Bot</h3>
<div class="quotes row">
	{{#each kickbot-comments}}
		{{> comment}}
	{{/each}}
</div>

<div class="subscribe row">
</div><!-- subscribe row -->
